@model WatchMovies.Models.Phan

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <h2 class="text-primary">Thêm phần</h2>
    <div class="bg-secondary rounded h-100 p-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <h4>Phan</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row mb-3">
                    @Html.LabelFor(model => model.TenPhan, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenPhan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenPhan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="hidden" name="MaPhim" value=@ViewBag.Phim.MaPhim />

                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div>
        @Html.ActionLink("Quay lại", "Edit","Phims", new { id = ViewBag.Phim.MaPhim }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>