@model WatchMovies.Models.Tap

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid pt-4 px-4">
    <h2 class="text-primary">Sửa tập</h2>
    <div class="bg-secondary rounded h-100 p-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div>
            <h4 class="mb-4">Tập</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaTap)

            @*<div class="row mb-3" style="display: none">
                @Html.LabelFor(model => model.MaPhan, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MaPhan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MaPhan, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="row mb-3">
                @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }
    </div>
</div>



<div class="container-fluid pt-4 px-4">
    <div>
        @Html.ActionLink("Quay lại", "Index", null, new {MaPhan = Model.MaPhan}, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>

