@model IEnumerable<WatchMovies.Models.Tap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Danh sách tập trong <span style="color: red">@ViewBag.Phan.TenPhan</span> của phim <span style="color: red">@ViewBag.Phan.Phim.Ten</span></h6>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <a href="@Url.Action("Create","Taps", new {MaPhan = ViewBag.Phan.MaPhan})" class="btn btn-success">Thêm mới</a>
        </div>

        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        @*<th scope="col"><input class="form-check-input" type="checkbox"></th>*@
                        <th scope="col">Tên tập</th>
                        <th scope="col">Tên người tạo</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Người sửa gần nhất</th>
                        <th scope="col">Thời gian sửa gần nhất</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var TenUser = WatchMovies.Models.Utils.GetUser(item.MaUserTao).Ten;
                        <tr>
                            @*<td><input class="form-check-input" type="checkbox"></td>*@
                            <td>@item.Ten</td>
                            <td>@TenUser</td>
                            <td>@item.CreateAt</td>
                            <td>@item.MaUserSua</td>
                            <td>@item.UpdatedAt</td>
                            <td>
                                <a class="btn btn-sm btn-warning" href="@Url.Action("Edit","Taps", new {id=item.MaTap})">Sửa</a>
                                <a class="btn btn-sm btn-danger" onclick="confirmDelete('@item.MaTap')">Xóa</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->

<div class="container-fluid pt-4 px-4">
    <div>
        @Html.ActionLink("Quay lại", "Edit", "Phims", new {id=ViewBag.Phan.Phim.MaPhim}, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>
@*thông báo xóa bài đăng*@
<script>
    function confirmDelete(MaTap) {
        var result = confirm("Xác nhận xóa tập?");

        if (result) {
            // Nếu người dùng đồng ý xóa, chuyển đến action xóa trong controller
            window.location = '/Admin/Taps/setDel/' + MaTap;
        }
    }
</script>